@font-face {
  font-family: 'Libre Baskerville';
  src: local('Libre Baskerville'), url(../src/assets/fonts/libre-baskerville/LibreBaskerville-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  src: local('Libre Baskerville'), url(../src/assets/fonts/libre-baskerville/LibreBaskerville-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  src: local('Libre Baskerville'), url(../src/assets/fonts/libre-baskerville/LibreBaskerville-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(../src/assets/fonts/montserrat/Montserrat-Regular.ttf) format('truetype');
}
/* Usar cuando sea el momento */
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./assets/images/background-photo.jpg) !important;

  
}
::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
  border: 2px solid #555;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}